* { 
    user-select: none;           /* Standard */ 
   -webkit-user-select: none;   /* Safari */ 
    -moz-user-select: none;      /* Firefox */ 
    -ms-user-select: none;       /* IE10+/Edge */ 
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 11px;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera, newer Edge */
}


.custom-scroll::-webkit-scrollbar {
    width: 3px;
    max-height: 3px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.custom-scroll::-webkit-scrollbar-track {
    background: rgba(243, 244, 246, 0.5);
    border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(156, 163, 175, 0.5);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 114, 128, 0.65);
}
@media (prefers-color-scheme: dark) {
    .custom-scroll::-webkit-scrollbar-track {
        background: rgba(31, 41, 55, 0.5);
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background: rgba(156, 163, 175, 0.5);
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background: rgba(107, 114, 128, 0.7);
    }
}

.selected-row {
    background-color: rgba(59, 130, 246, 0.1);
}
.dark .selected-row {
    background-color: rgba(59, 130, 246, 0.25);
}

.signal-btn {
    background-color: var(--bg-color, #cccccc);
    border-color: color-mix(in srgb, var(--signal-shadow, #3e630d) 40%, transparent);
    transition: all 0.15s ease-in-out;
}


/* backdrop transition */
.modal-backdrop {
    transition: opacity 0.2s ease;
}
.modal-container {
    transition: transform 0.2s ease, opacity 0.2s ease;
}
/* checkbox custom style */
.checkbox-custom {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.25rem;
    border: 2px solid #cbd5e1;
    transition: all 0.1s;
}
.checkbox-custom:checked {
    background-color: #3b82f6;
    border-color: #3b82f6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 0.9rem;
    background-position: center;
    background-repeat: no-repeat;
}


.signal-btn {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
